.error-page__container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 100px);
  justify-content: flex-start;
  align-items: center;

  h1 {
    color: black;
  }

  a {
    font-size: 3rem;
    margin-top: 3rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;

    &:hover {
      transition: all 0.5s ease;
      transform: scale(1.1);
    }
  }
}
